.market-header {
    color:white;
    display: flex;
    flex-direction:row;
}
.market-name {
    font-size: 50px;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn {
    margin-left: 100px;
    width: 100px;
    height: 30px;
}
.mint-btn {
    margin-left: 20px;
    width: 100px;
    height: 30px;
}

.market-line {
    color: white;
}

.market-container {
    margin-top: 120px;
    margin-left: 50px;
}
.nft-line {
    display: flex;
    overflow-x: scroll;
}

